/*.cm*
/a.out
/gen_ast
*~
*.swp
*.o
*.cmi
*.cmo
*.cmx
*.cmxs
*.idb
*.fir
*.zip
*.pdb
*.res
*.txt.user
.project
.cproject
/Release+Asserts
/Debug+Asserts
/intermediate_format.mli
/intermediate_format_parser.ml
/intermediate_format_parser.mli
/intermediate_format.c
/intermediate_format.h
/ptests_local_config.ml
/*.annot
/*_DEP
/.depend
/core
/configure
/config.*
/Makefile.config
/autom4te.cache
/frama_Clang_config.ml
/*.d
/doc
/frama-clang.tar.gz
/tests/*/result/*
/tests/basic/result/*
/tests/template/result/*
/tests/slicing/result/*
/tests/class/result/*
/tests/val_analysis/result/*
/tests/stl/result/*
/tests/pp/result/*
/tests/ppwp/result/*
/tests/ptests_config
/bin/framaCIRGen
META.frama-c-frama_clang
/Frama_Clang.check_mli_exists
/.Makefile.plugin.generated
/.merlin
/top
.frama-c/
tempirgen
/mine/
/frama-clang-*.tar.gz
